.header {
  display: flex;
  width: 90vw;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;

  &__logo img {
    width: 230px;
    height: 71px;
    object-fit: cover;
  }
  &__nav .nav {
    &__list {
      display: flex;
      width: 400px;
      height: 41px;
      justify-content: space-between;
      align-items: center;
    }
    &__items {
      display: flex;
      width: auto;
      height: 41px;
      padding: 5px 13px;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border-radius: 8px;
      transition: $transtion-1;

      &:hover {
        background-color: $seccondary-color-2;
      }
    }
    &__item {
      font-size: $font-lg;
      font-family: $font-family;
      font-weight: $font-bold;
      color: $neutral-color-1;
      text-transform: lowercase;
      transition: $transtion-1;
      &:hover {
        color: $primary-color;
      }
    }
  }
  &__buttons {
    display: flex;
    width: 270px;
    justify-content: space-between;
    align-items: center;
  }
}
/* The switch - the box around the slider */
.switch {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 38px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.4s;
  border: 2px solid $primary-color;
  border-radius: 30px;
}
.slider img:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 20px;
  left: 4px;
  background-color: $primary-color;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0a3b5c;
}

input:checked + .slider:before {
  transform: translateX(0.9em);
}
input:checked + .slider img:before {
  transform: translateX(0.9);
}
